/*
 .demo-button {
     background-color: #6279f7;
 }
 .demo-button::before {
     background-color: #052bf8;
 */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

header {
  background-color: #c9e2ff;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

nav a {
  color: #6279f7;
  font-weight: normal;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}
nav a:hover {
  font-weight: bold;
  color: #052bf8;
}

.exams ul {
    list-style: none;
    margin: 30;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.exam {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    color: #052bf8;
    background-color: white;
    padding: 30px;
    position: relative;
    cursor: pointer;
    border: none;
}

.exam::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: #052bf8;
}

.exam-content {
  display: none;
}

.exam-content.active {
  display: block;
}

.subjects ul {
    list-style: none;
    margin: 30;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.subject {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    color: #052bf8;
    background-color: white;
    padding: 30px;
    position: relative;
    cursor: pointer;
    border: none;
}

.subject-content {
  display: none;
}

.subject-content.active {
  display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: white;
    color: #052bf8;
    width: 100%;
}
