@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.button {
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    z-index: 1;
}
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: #f88403;
    transition: width 0.3s ease;
    z-index: -1;
}
.button:hover::before {
    width: 100%;
}

.demo-button {
    background-color: #6279f7;
}
.demo-button::before {
    background-color: #052bf8;
}

.news-button {
    background-color: #aafa88;
}
.news-button::before {
    background-color: #277e02;
}

.tests-button {
    background-color: #ff6464;
}
.tests-button::before {
    background-color: #fe1515;
}
.contacts-button {
    background-color: #fdbc44;
}
.contacts-button::before {
    background-color: #f88403;
}

.games-button {
    background-color: #f18be6;
}
.games-button::before {
    background-color: #a30692;
}

.lk-button {
    background-color: #ffea6e;
}
.lk-button::before {
    background-color: #e9d70f;
}

@media (max-width: 600px) {
    .buttons-container {
        grid-template-columns: 1fr;
    }
}
